body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1456px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1607px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:0px;
  width:1500px;
  height:1607px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1510px;
  height:136px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:1510px;
  height:136px;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-size:72px;
  color:#FFFFFF;
  text-align:left;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1506px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:87px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:397px;
  width:434px;
  height:87px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:430px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:87px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:600px;
  width:434px;
  height:87px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:430px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:93px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:22px;
  width:170px;
  height:93px;
  font-size:25px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:93px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:22px;
  width:170px;
  height:93px;
  font-size:25px;
  color:#FFFFFF;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  word-wrap:break-word;
}
